{
  "root": true,
  "ignorePatterns": ["package.json", "src/**/*.spec.*", "rollup.config.js"],
  "extends": [
    "@xylabs"
  ],
  "parserOptions": {
    "project": "tsconfig.json"
  },
  "rules": {
    "import/no-internal-modules": [
      "warn", {
        "allow": [
          "lodash/*"
        ]
      }
    ]
  }
}
