{
  "root": true,
  "extends": [
    "@xylabs"
  ],
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    }
  },
  "rules": {
    "import/no-internal-modules": [
      "warn", {
        "allow": [

        ]
      }
    ]
  }
}
