version: "3.8"

volumes:
  prometheus_data: {}
  grafana_data: {}

services:
  mongo:
    container_name: mongo
    image: mongo:6.0.3
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
      MONGO_INITDB_DATABASE: archivist
    healthcheck:
      test:
        [
          "CMD",
          "/usr/bin/mongosh",
          "-u",
          "root",
          "-p",
          "example",
          "--quiet",
          "/opt/mongo/joinReplicaSet.js",
        ]
      interval: 5s
      timeout: 10s
      retries: 3
      start_period: 1s
    volumes:
      - ./scripts/mongo/opt/mongo:/opt/mongo
      - ./scripts/mongo/docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d
    command:
      [
        "--auth",
        "--bind_ip_all",
        "--keyFile",
        "/tmp/mongodb.key",
        "--replSet",
        "dbrs",
      ]

  prometheus:
    image: prom/prometheus:v2.37.6
    container_name: prometheus
    volumes:
      - ./docker/prometheus:/etc/prometheus
      - prometheus_data:/prometheus
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
      - "--web.console.libraries=/etc/prometheus/console_libraries"
      - "--web.console.templates=/etc/prometheus/consoles"
      - "--storage.tsdb.retention.time=200h"
      - "--web.enable-lifecycle"
    restart: unless-stopped
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana:9.4.3
    container_name: grafana
    volumes:
      - grafana_data:/var/lib/grafana
      - ./docker/grafana/provisioning:/etc/grafana/provisioning
    environment:
      - GF_SECURITY_ADMIN_USER=${ADMIN_USER:-admin}
      - GF_SECURITY_ADMIN_PASSWORD=${ADMIN_PASSWORD:-admin}
      - GF_USERS_ALLOW_SIGN_UP=false
    restart: unless-stopped
    ports:
      - "3000:3000"

  # ipfs:
  #   image: ipfs/kubo:latest
  #   container_name: ipfs
  #   restart: unless-stopped
  # environment:
  # IPFS_PROFILE: server
  # IPFS_PROFILE: default-networking
  # IPFS_PROFILE: flatfs
  # ports:
  #   - "4001:4001"
  #   - "5001:5001"
  #   - "8080:8080"
  # ipfs-gateway:
  #   image: ipfs/bifrost-gateway:release
  #   container_name: ipfs-gateway
  #   restart: unless-stopped
  #   environment:
  #     PROXY_GATEWAY_URL: http://ipfs:8080
  #   ports:
  #     - "8081:8081"
