.aws
.DS_Store
.git
.github
.hg
.rollup.cache
.serverless
.svn
.vscode
.webpack
build
dist
node_modules

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

swagger.json
